<!DOCTYPE html>
<html lang="fr">
  <%- include("_head.ejs", { 
    name: "Hydria",
    siteName: "hydria.dev",
    description: "Des outils innovants pour s’attaquer au risque hydrologique",
    keywords: "hydria",
    host: "https://hydria.dev",
    logoPath: "/images/logo-192.png",
    stylesheet: "/stylesheets/index.css", 
    script: "/javascripts/bundle.js" 
  }); %>

  <body>
    <%- include("_header.ejs"); %>

    <main>
      <%- include("index/fr/_hero.ejs"); %>
      <%- include("index/fr/_expertise.ejs"); %>
      <%- include("index/fr/_manifest.ejs"); %>
      <%- include("index/fr/_info.ejs"); %>
      <%- include("index/fr/_contact.ejs"); %>
    </main>
    
    <%- include("_footer.ejs"); %>
  </body>
</html>
